node_modules
.DS_Store
.tmp
docs/
build/
dist/
public/lib/
.sass-cache
app/bower_components
app/styles/*.css
app/scripts/templates.js
scss-lint-report.xml
*.iml
npm-debug.log
coverage/
.idea
.idea/
phantomjsdriver.log
/nbproject/private/
test/e2e/screenshots/*.png
nbproject/
mocha.txt
app/modules/mocks/models.js
test/yslow/reports/yslow.xml
yslow/index.html
yslow/reports/yslow.xml
/aws-keys.json
