$spinkit-spinner-margin: 40px auto !default;
$spinkit-size: 100px !default;
$spinkit-spinner-color: #333 !default;

.sk-fading-circle {
  $circleCount: 12;
  $animationDuration: 1.2s;
  position: relative;
  width:  $spinkit-size;
  height:  $spinkit-size;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 120px;
  right: 0;
  margin: auto;

  .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: $spinkit-spinner-color;
    border-radius: 100%;
    animation: sk-circleFadeDelay $animationDuration infinite ease-in-out both;
  }

  @for $i from 2 through $circleCount {
    .sk-circle#{$i} { transform: rotate(360deg / $circleCount * ($i - 1)); }
  }

  @for $i from 2 through $circleCount {
    .sk-circle#{$i}:before { animation-delay: - $animationDuration + $animationDuration / $circleCount * ($i - 1); }
  }

}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0 }
  40% { opacity: 1 }
}


@media only screen and (max-width: 768px) {
    h1 {
      font-size: 28px;
      line-height: 38px;
    }
}